@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/miama');

/* shared styles starts here */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: inter;
    background-color: #000000;
}
h1, h2, h3, h4, li, th
{
    color: rgb(255, 255, 255);
}
p, td{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.6rem;
}
.btn-primary{
    font-size: 1.125rem;
    padding: 1rem 2.5rem;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border-radius: 42px;
    margin-top: 2vw;
    border: none;
}
/* shared styles ends here */

/* navbar styles starts here */
.header{
    padding: 3.268vw 10vw 0vw 10vw;
    background: linear-gradient(
        180deg,
        rgb(17, 17, 17)20%,
        rgb(42, 42, 42)100%
    );
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.menu-bar{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-right: 1rem;
}
.menu-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.941vw;
}
#home{
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1.25rem;
}
/* navbar styles ends here */

/* banner styles starts here */
.banner{
    display: flex;
    justify-content: space-between;
    gap: 20vw;
}
.banner-description{
    margin: 5.229vw 0vw;
}
.banner-description h1{
    font-weight: 900;
    font-size: 4.875rem;
    margin-bottom: 1.634vw;
    line-height: 0.9;
}
#shape{
    font-family: miama;
    font-size: 8rem;
    font-weight: 400;
}
.download{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    margin-top: 2vw;
}
.banner-img{
    position: relative;
}
.banner-box1{
    width: 10rem;
    height: 4rem;
    padding: 13px 20px;
    background-color: rgba(172, 169, 169, 0.101);
    border: none;
    border-radius: 12px;
    position: absolute;
    left: 210px;
    top: 120px;
    backdrop-filter: blur(10px);
}
.banner-box1 h2{
    text-align: left;
}
.banner-box2{
    display: flex;
    align-items: center;
    width: 10rem;
    height: 4rem;
    padding: 13px 20px;
    background-color: rgba(172, 169, 169, 0.101);
    border: none;
    border-radius: 12px;
    position: absolute;
    left: -100px;
    top: 420px;
    backdrop-filter: blur(10px);
}
.banner-box h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.banner-box p{
    font-size: 0.813rem;
}
#play-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;
}
/* banner styles ends here */

/* change-your-habit styles starts here */
.change-habit{
    margin: 6.51vw 10vw 0vw 10vw;
}
.habit-title{
    text-align: center;

}
.habit-title h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.911vw;
}
.habit-title p{
    font-size: 0.875rem;
}
.habit-img-container{
    margin-top: 3.776vw;
    display: flex;
    gap: 2.604vw;
}
.habit-img{
    text-align: center;
}
.habit-img img{
    border-radius: 50%;
}
.habit-img h4{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.953vw;
    margin-bottom: 0.391vw;
}
.habit-img p{
    font-size: 0.875rem;
}
/* change-your-habit styles ends here */

/* run-easily styles starts here */
.run-easily{
    margin: 6.51vw 10vw 0vw 10vw;
    display: flex;
    gap: 18vw;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 3vw 4vw;
}
.run-easily-title h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2vw;
}
.run-easily-img{
    border-radius: 18px;
}
.run-easily-img img{
    width: 100%;
    height: auto;
    border-radius: 18px;
}
/* run-easily styles starts here */

/* bmi-calculator styles starts here */
.bmi-calculator{
    
}
.bmi-title{
    margin: 6.51vw 25vw 5vw 25vw;
    text-align: left;
}
.bmi-chart{
    display: flex;
    padding: 4vw 10vw 4vw 10vw;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.bmi-table h2{
    margin-bottom: 3.255vw;
}
.bmi-title h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2vw;
}
.table, td, th{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    padding: 14px;
}
td{
    font-size: 14px;
}
.bmi-calculate h2{
    margin-bottom: .9vw;
}
.input-opt{
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}
#activity{
    grid-column: 1 / span 2;
}
input, select{
    border-radius: 8px;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 2px 0px;
    border: none;
}
::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
